body {
	background-image: url("https://images1.laweekly.com/imager/u/original/6805032/delin_-_lacma_rain_room_drops.jpg");	
}
p {
	color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
#nav {
	display:flex;
	justify-content: space-around;
	white-space: nowrap;
	border-bottom: solid white 2px;
	border-top: solid white 2px;
	margin-top: 15px;
	margin-bottom: 20px;
}
#nav a {
	font-family: 'Poor Story', cursive;
	color: white;
	font-size: 24px;
}
#wrapperM, #wrapper2, #wrapper3, #wrapper4{
	display: flex;
	align-content: center;
	width: 80%;
	border: solid 2px white;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 30px;
	background-color: #737373;
	opacity: 0.85;
	color: white;
}
#wrapperA {
	display:flex;
	width:100%;
}
#banner {
	display:flex;
	justify-content: center;
}
.filth {
	margin-bottom: 40px;
	height: 350px;
	width:100%;
}